
.dcqsjname{
    height: 132px;
    display: flex;
    justify-content: space-between;
    padding: 0 36px;
    margin-top: 36px;
    border-bottom: 1px solid rgba(7,17,27,0.1);
}
.dcqzpxf{
    font-size: 28px;
    color: rgb(7, 17, 27);
    line-height: 28px;
}
.dcqxx{
    height: 36px;
    display: flex;
    margin-top: 16px;
}
.dcqxx .dcqxxa{
    width: 176px;
    height: 36px;
}
.dcqxx .dcqxxa img{
    margin-right: 5px;
    margin-top: 4px;
    width: 30px;
    height: 30px;
}
.dcqxx .dcqxl{
    font-size: 20px;
    color: rgb(77, 85, 93);
    line-height: 36px;
    margin-left: 16px;
}
.dcqxx .dcqys{
    margin-left: 24px;
    font-size: 20px;
    color: rgb(77, 85, 93);
    line-height: 36px;
}
.icon-shoucang{
    font-size: 46px;
    color: #ccc;
}
.dcqsc{
    margin-left: -14px;
    margin-top: 8px;
    font-size: 20px;
    color: rgb(77, 85, 93);
    line-height: 20px;
}
.dcqqsj{
    width: 100%;
    height: 120px;
    border-bottom: 1px solid rgba(7,17,27,0.1);
}
.dcqconn{
    width: 100%;
    height: 76px;
    display: flex;
    // background: pink;
    margin-top: 36px;
}
.dcqdw{
    color: rgb(7, 17, 27);
    font-size: 48px;
    font-weight: 200;
    line-height: 48px;
}
.dcqdwhs{
    color: rgb(7, 17, 27);
    font-size: 20px;
    font-weight: 200;
    line-height: 48px;
}
.dcqconn div{
    width: 33.3%;
    text-align: center;
    border-right: 1px solid rgba(7,17,27,0.1);
}
.dcqconn div p{
    margin-top: 8px;
}
.dcqsjna{
    font-size: 20px;
    color: rgb(147, 153, 159);
    line-height: 20px;
}
.dcqkkuang{
    width: 100%;
    height: 36px;
    background: #f1ebeb;
    border-bottom: 1px solid rgba(7,17,27,0.1);
}
.dcqjsa{
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(7,17,27,0.1);
}
.dcqgga{
    margin-top:  36px;
    margin-left:  36px;
    color: black;
    font-size:  28px;
    font-weight: bold;
}
.dcqhdnr{
    margin-top:  16px;
    margin-left:  60px;
    margin-right: 40px;
    font-size:  24px;
    font-weight: 200;
    color: rgb(240, 20, 20);
    line-height:  48px;
}
.dcqul{
    width: 100%;
    height: 532px;
    display: flex;
    flex-direction: column;
}
.dcqul ul{
    border-bottom: 1px solid rgba(7,17,27,0.1);
    display: flex;
    align-items: center;
    height: 76px;
}
.dcqul ul li{
    margin-left: 36px;
}
.dcqul ul li:nth-child(1){
    width: 30px;
    height: 30px;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
}
.dcqul ul li:nth-child(2){
    margin-left: 12px;
    color: rgb(7, 17, 27);
    line-height: 32px;
    font-weight: 200;
    font-size: 24px;
}
.dcqul ul li img{
    width: 30px;
    height: 30px;
}
.dcqkkuang2{
    width: 100%;
    height: 36px;
    background: #f1ebeb;
    border-bottom: 1px solid rgba(7,17,27,0.1);
}
.dcqsjsj{
    width: 100%;
    height: 310px;
    // background: pink;
    display: flex;
    flex-direction: column;
}
.dcqjj{
    margin-left: 36px;
    margin-top: 36px;
    color: black;
    font-weight: bold;
    font-size: 28px;
}
.dcqimgs{
    width: 100%;
    height: 180px;
    // background: yellow;
    display: flex;
    margin-top: 24px;
}
.dcqimgs img{
    margin-left: 12px;
    width: 31%;
    background:#444;
}
.dcqkkuang3{
    width: 100%;
    height: 36px;
    background: #f1ebeb;
    border-bottom: 1px solid rgba(7,17,27,0.1);
}
.dcqdress{
    width: 100%;
    height: 365px;
    display: flex;
    flex-direction: column;
    // background: pink;
}
.dcqdress ul{
    height: 73px;
    border-bottom: 1px solid rgba(7,17,27,0.1);
}
.dcqdress ul li{
    color: rgb(7, 17, 27);
    line-height: 32px;
    line-height: 73px;
    font-weight: 200;
    font-size:24px;
    margin-left: 24px;
}